<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>
	<h2>
	  This ishhh the home page for the
	  sample application.
	</h2>
	
	<%= link_to "Регистрация", signup_path, class: "btn btn-large btn-primary" %>
</div>

